




<div class="container-fluid justify-content-center">


  <br>
  <div class="input-group flex-nowrap">

    <input type="text" class="form-control" placeholder="Username" aria-label="Fullname"
      aria-describedby="addon-wrapping">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping"><span class="fas fa-user-alt"></span></span>
    </div>
  </div>
  <br>
  <div class="input-group flex-nowrap">

    <input type="text" class="form-control" placeholder="Email" aria-label="Fullname"
      aria-describedby="addon-wrapping">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping"><span class="fas fa-envelope"></span></span>
    </div>
  </div>
  <br>
  <div class="input-group flex-nowrap">

    <input type="text" class="form-control" placeholder="Password" aria-label="Fullname"
      aria-describedby="addon-wrapping">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping"><span class="fas fa-lock"></span></span>
    </div>
  </div>
  <br>

  <div>
    <input type="checkbox" name="" id=""> I agree to the <span style="color:steelblue">terms</span>
    <button type="button" style="float: right;width: 150px;" class="btn btn-primary"><i
        class="far fa-file-image"></i>Sign in</button>
  </div>
  <br>
 
  <br>
</div>
